<!-- ABOUT SECTION -->


<section class="about">
    <ul class="about-box">
        <li>
          <figure class="photo">
            <img src="./images/table.jpg"  alt="Meeting">
          </figure>
        </li>
        <li>
          <div class="paragraph-area">
            <h3>about</h3>
              <div class="about-paragraph">
                <p>DEVLOFT is a platform for current bootcamp students who are looking for
                  inspiration throughout other bootcamp alumni who are willing to share their live projects they once created during their
                  cohort experience.
                </p>
              </div>
          </div>
        </li>
    </ul>
</section>

<section class="about">
    <ul class="about-box">
      <li>
        <div class="paragraph-area">
          <h3>how it works</h3>
            <div class="about-paragraph">
              <p>It’s easy! If you are a Bootcamp alumni, sign up and just follow the steps to upload your first project! Be very specific don’t forget to add the Bootcamp you attended and a screenshot of your website.
                  If you are a current student looking for inspiration just visit our student showcase.
                </p>
            </div>
        </div>
      </li>
        <li>
          <figure class="photo">
            <img src="images/girl_coding.jpg" width="609" height="424" alt="Girl Coding">
          </figure>
        </li>
    </ul>
</section>

<!-- IDEAS AND LOG IN SECTION -->

<section>
  <div class="carmine-pink-area">
    <div class="row">
      <div class="user-options-text">
        <h4>find ideas &amp; inspiration</h4>
      </div>
      <div class="user-options-btn">
        <a class="btn" ui-sref="showcase">ALUMNI COLLECTION</a>
      </div>
    </div>
  </div>

  <div class="blue-area">
    <div class="row">
      <div class="user-options-text">
        <h4>share your project</h4>
      </div>
      <div class="user-options-btn">
        <a class="btn" href="http://localhost:9000/auth/github">JOIN WITH GitHub</a>
      </div>
    </div>
  </div>
</section>
