<nav class="blue-nav">
  <div class="row">
    <div class="logo">
      <logo-directive ui-sref="home"></logo-directive>
    </div>
    <ul class="right-nav">
      <li ui-sref="showcase">SHOWCASE</li>
      <a href="http://devloft.herokuapp.com/logout"><li>LOG OUT</li></a>
    </ul>
  </div>
</nav>




<div class="alumni-pink-header">
  <div class="row">
    <h5 ng-click="shows = !shows">Add Project</h5>
    <h5 ng-click="shows = !shows">Manage Project</h5>
  </div>
</div>

<section ng-if="shows">
  <div class="row gray-area">
    <form ng-submit="addProject()">
      <div class="sphere">
          <lightbulb-directive></lightbulb-directive>
      </div>
      <div class="box-padding">
          <div class="question">
              <input type="text" required ng-model="newProjectData.name"/>
              <label>Alumni Name</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.bootcamp"/>
              <label>Bootcamp</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.course"/>
              <label>Course</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.github"/>
              <label>Github Repo</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.website"/>
              <label>Live Website</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.imageurl"/>
              <label>Image Url</label>
            </div>
            <button type="submit">Submit</button>
      </div>
    </form>

  </div>
</section>
<section ng-if="!shows">
  <ul>
    <li ng-repeat="project in userProjects">
      {{project.name}}
    </li>
  </ul>
  <p>Second view</p>
</section>
