<nav class="blue-nav">
  <div class="row">
    <div class="logo">
      <logo-directive ui-sref="home"></logo-directive>
    </div>
    <ul class="right-nav">
      <li ui-sref="showcase">SHOWCASE</li>
      <a href="http://devloft.herokuapp.com/logout"><li>LOG OUT</li></a>
    </ul>
  </div>
</nav>


<div class="alumni-pink-header">
  <div class="row" ng-init="tab = 1">
    <ul>
      <li ng-class="{ active:tab === 1 }" class="user-tabs"><a ng-click="tab = 1" class="tabs-font" >Add Project</a></li>
      <li ng-class="{ active:tab === 2 }" class="user-tabs"><a ng-click="tab = 2" class="tabs-font">Manage Project</a></li>
    </ul>
  </div>
</div>


<section ng-show="tab === 1">
  <div class="row gray-area">
    <form class="project-form" ng-submit="addProject()">
      <div class="sphere">
          <lightbulb-directive></lightbulb-directive>
      </div>
      <div class="box-padding">
          <div class="question">
              <input type="text" required ng-model="newProjectData.name"/>
              <label>Alumni Name</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.bootcamp"/>
              <label>Bootcamp</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.course"/>
              <label>Course</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.github"/>
              <label>Github Repo</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.website"/>
              <label>Live Website</label>
            </div>
            <div class="question">
              <input type="text" required ng-model="newProjectData.imageurl"/>
              <label>Image Url</label>
            </div>
            <button type="submit">Submit</button>
      </div>
    </form>

  </div>
</section>



  <section class="showcase-area" ng-show="tab === 2">
    <div class="row gray-area">
      <ul class="projects" class="projects-animation">
        <li class="alumni-project" ng-repeat="project in userProjects track by $index">
            <div class="postPhoto">
              <a href="{{project.website}}"><img ng-src="{{project.imageurl}}" alt=""></a>
            </div>
            <div class="postInfo">
              <span class="alumniName">{{project.name}}</span><br>
              <span class="alumniBootcamp">{{project.bootcamp}}</span><br>
              <span class="alumniBootcamp">{{project.course}}</span><br>
              <span class="alumniGithub"><a class="github-black" href="{{project.github}}"><i class="fa fa-github"></i></a></span>
              <br>
              <button ng-click="deleteProject(project._id, $index)" class="delete-button" name="deletebutton">Delete Project</button>

              <div>
                <form class="update-form">
                  <span class="alumniBootcamp">Alumni name: <input type="text" ng-model="updateData.name"></span><br>
                  <span class="alumniBootcamp">Bootcamp: <input type="text" ng-model="updateData.bootcamp"></span><br>
                  <span class="alumniBootcamp">Course: <input type="text" ng-model="updateData.course"></span><br>
                  <span class="alumniBootcamp">Live Website: <input type="text" ng-model="updateData.website"></span><br>
                  <span class="alumniBootcamp">Image Url: <input type="text" ng-model="updateData.imageurl"></span><br>
                  <span class="alumniBootcamp">Github Repo: <input type="text" ng-model="updateData.github"></span>
                </form>
                <button  ng-click="putProject(project._id, updateData, $index)"class="update-button" name="button">Update Project</button>
              </div>




            </div>
        </li>
      </ul>
    </div>
  </section>
