<nav class="blue-nav">
  <div class="row">
    <div class="logo">
      <logo-directive ui-sref="home"></logo-directive>
    </div>
    <ul class="right-nav">
      <a href="http://devloft.herokuapp.com/auth/github"><li>LOG IN</li></a>
      <!-- <li>SIGN UP</li> -->
    </ul>
  </div>
</nav>

<div class="alumni-pink-header">
  <div class="row">
    <h5>Alumni collection</h5>
  </div>
</div>


<!-- <section class="showcase-area">
  <div class="row">
    <div class="col span-1-of-4">
      <div class="student-project">
        <div class="imgLoaded">
        </div>
      </div>
    </div>
  </div>
</section> -->

<section class="showcase-area">
  <div class="row gray-area">


    <ul class="projects">
      <li class="alumni-project" ng-repeat="project in projects">
          <div class="postPhoto">
            <a href="{{project.website}}"><img width="150px" height="150px" ng-src="{{project.imageurl}}" alt=""></a>
          </div>
          <div class="postInfo">
            <span class="alumniName">{{project.name}}</span><br>
            <span class="alumniBootcamp">{{project.bootcamp}}</span><br>
            <span class="alumniBootcamp">{{project.course}}</span><br>
            <span class="alumniGithub"><a class="github-black" href="{{project.github}}"><i class="fa fa-github"></i></a></span>
          </div>
      </li>
    </ul>



  </div>
</section>
