<nav class="blue-nav">
  <div class="row">
    <div class="logo">
      <logo-directive ui-sref="home"></logo-directive>
    </div>
    <ul class="right-nav">
      <li ui-sref="showcase">SHOWCASE</li>
      <li>LOG OUT</li>
    </ul>
  </div>
</nav>




<div class="alumni-pink-header">
  <div class="row">
    <h5>Add Project</h5>
  </div>
</div>

<section>
  <div class="row gray-area">
    <form>
      <div class="sphere">
          <lightbulb-directive></lightbulb-directive>
      </div>
      <div class="box-padding">
          <div class="question">
              <input type="text" required/>
              <label>Alumni Name</label>
            </div>
            <div class="question">
              <input type="text" required/>
              <label>Bootcamp</label>
            </div>
            <div class="question">
              <input type="text" required/>
              <label>Course</label>
            </div>
            <div class="question">
              <input type="text" required/>
              <label>Github Repo</label>
            </div>
            <button>Submit</button>
      </div>
    </form>
  </div>
</section>
